<header>
  <app-admin-navbar></app-admin-navbar>
</header>
<br>
<main>
  <!-- Título -->
  <section>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <h1 class="tit-proveedores">Proveedores</h1>
        </div>
      </div>
    </div>
  </section>
  <br>

  <!-- Busqueda y Agregar -->
  <section>
    <div class="container buscar-agg">
      <div class="row">
        <!-- Buscar -->
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Buscar Proveedor..." id="search-input">
            </div>
          </div>
        </div>

        <!-- Agregar Proveedor -->
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="agg-provee">
            <button class="btn agregar" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
              Agregar Proveedor
            </button>
            <div #offcanvasRef class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="staticBackdropLabel">Registrar Proveedor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" (click)="cerrarFormularioModificar()"></button>
              </div>
              <div class="offcanvas-body">
                <app-add-proveedor (proveedorCreado)="agregarProveedor($event)"></app-add-proveedor>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Tabla de Proveedores -->
  <section>
    <div class="container">
      <table class="table table-bordered">
        <thead class="table-secondary">
          <tr>
            <th>Nombre De Proveedor</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>N° Deudas pendientes</th>
            <th>Estado de Proveedor</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proveedor of proveedores">
            <td class="td1" data-label="Nombre De Proveedor">
              <img src="../../assets/img/icons-navbar/Proovedores.png" alt="" width="30px" height="30px">
              <a>{{ proveedor.nombre_proveedor }} {{ proveedor.apellido_proveedor }}</a>
            </td>
            <td data-label="Teléfono">{{ proveedor.telefono_proveedor }}</td>
            <td data-label="Correo">{{ proveedor.correo_proveedor }}</td>
            <td data-label="N° Deudas pendientes">{{ proveedor.deudas_pendientes || 0 }}</td>
            <td data-label="Estado de Proveedor">
              <span class="status" [ngClass]="proveedor.estado_proveedor === 'Activo' ? 'activo' : 'inactivo'">
                {{ proveedor.estado_proveedor }}
              </span>
            </td>
            <td data-label="Acciones">
              <!-- <button class="btn ver">Ver</button> -->
              <button type="button" class="btn btn modificar" (click)="abrirFormularioModificar(proveedor)">Modificar</button>
              <ng-container *ngIf="proveedorSeleccionado">
                <div class="offcanvas offcanvas-start" tabindex="-1" id="modificarProveedorCanvas" aria-labelledby="modificarProveedorLabel">  
                  <div class="offcanvas-header">
                    <h5 id="modificarProveedorLabel">Modificar Proveedor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" (click)="cerrarFormularioModificar()"></button>
                  </div>
                  <div class="offcanvas-body">
                    <app-modify-proveedor [proveedor]="proveedorSeleccionado" (guardar)="modificarProveedor()"></app-modify-proveedor>
                  </div>
                </div>
              </ng-container>
              <button class="btn eliminar" (click)="eliminarProveedor(proveedor.id_proveedor)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>