.formulario{
    height: 86vh;
    text-align: center;
    font-family: 'Poetsen One', cursive;
    border-radius: 50px;
    border: 1px solid rgba(128, 128, 128, 0.295);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.26);
}
.fondo{
    background-color: gray;
}